.aboutme{
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

.aboutme::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: red;
    left: 0;
    bottom: 0;
}
.aboutme::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: red;
    left: 0;
    bottom: 0;
}

.aboutme::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.line{
    width: 100%;
    height: 2px;
    background: red;
    margin: 4px 0;
}