.main{
    height: 100vh;
    position: relative;
}

.imgcar{
    height: calc(100vh - 64px);
}

.gridskew{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    position: absolute;
    opacity: 1;
    transform: skew(-16deg, 4deg);
    overflow: hidden;
}

.gridmain{
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
}

.box_1 {
    display: flex;
    flex-direction: column;
    width: 344px;
    position: relative;
  }
  
  .box_2 {
    display: flex;
    flex-direction: column;
    width: 720px;
    position: relative;
    margin-left: -40px;
  }
  
  .box1_img_1 {
    animation: slideUpDown 30s infinite;
  }
  
  .box2_img_2 {
    animation: slideUpDownOpposite 30s infinite;
  }

  
  
  @keyframes slideUpDown {
    0%, 100% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes slideUpDownOpposite {
    0%, 100% {
        transform: translateY(-80%);
      }
      50% {
        transform: translateY(0%);
      }
  }
  
  
  @media (max-width: 768px) {
    .imgcar{
      display: none;
    }
  }