/* .custom-upload-button {
    padding: 10px 20px !important;
    margin: 10px !important;
}

.custom-upload-button .p-button-label {
    padding-left: 10px !important;
} */

.filepond--credits{
    display: none;
}
.profile-container{
    font-family: 'Roboto', sans-serif;      
}


