.HomeNav{
    max-width: 1200px;
    min-width: 800px;
}
/* .navbar{
    position: absolute;
} */

#basic-button{
    color: red;
}

@media (max-width: 768px) {
    .HomeNav{
        max-width: 100%;
        min-width: 100%;
    }
}